<nav class="navbar position-absolute top-0 start-0 end-0 navbar-expand-lg py-4">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/images/logo-1.png" alt="logo" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 align-items-center w-100 justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link">من نحن</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">مستثمر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">تمويل المنشأت</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">تواصل معنا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">الأسئلة الشائعة</a>
                </li>

                <li class="nav-item">
                    <button class="btn">تسجيل الدخول</button>

                </li>
                <li class="nav-item">
                    <button class="btn">ابدأ الاستثمار</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="vh-100 ">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-6 col-sm-10">
                <div data-aos="fade-up" data-aos-duration="1000" class="content animate__animated animate__backInDown">
                    <h1>UI/UX and Product Designer</h1>
                    <p class="text my-5">
                        تساعد استراتيجيات العلامات التجارية المبهجة من الناحية الجمالية على الوصول بفعالية إلى المزيد من
                        العملاء.
                        كما أنهم يضمنون أن الرحلة الشاملة مع منتجاتهم أو خدماتهم تلبي النتائج المرجوة.
                    </p>
                    <button class="btn">تقدم الآن</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-md-block d-none right position-absolute end-0 top-50 translate-middle-y">
        <img src="../../../assets/images/right-shape.svg" alt="right-shape" loading="lazy">
    </div>

    <div class="d-md-block d-none left position-absolute start-0 top-50 translate-middle-y">
        <img src="../../../assets/images/left-shape.svg" alt="left-shape" loading="lazy">
    </div>
</header>


<!-- start second section  -->
<section class="second">
    <div class="container">
        <div class="row gy-3 py-5">
            <div data-aos="fade-down-left" class="col-md-3 offset-md-2">
                <div class="item">
                    <h4>موجز الوظيفة</h4>
                </div>

            </div>
            <div data-aos="fade-down-right" class="col-md-7">
                <div class="item">
                    <ul class="mb-0 list-unstyled">
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            نحن نبحث عن مصمم UI / UX لتحويل برنامجنا إلى منتجات سهلة الاستخدام لعملائنا.
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            تتضمن مسؤوليات UI / UX Designer جمع متطلبات المستخدم وتصميم العناصر الرسومية وبناء مكونات
                            التنقل. لتكون ناجحًا في هذا الدور ، يجب أن تكون لديك خبرة في برامج التصميم وأدوات الهيكل
                            الشبكي. إذا كان لديك أيضًا مجموعة من مشاريع التصميم الاحترافية التي تتضمن العمل مع تطبيقات
                            الويب / الهاتف المحمول ، فنحن نرغب في مقابلتك.
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            في النهاية ، ستنشئ ميزات وظيفية وجذابة تلبي احتياجات عملائنا وتساعدنا على تنمية قاعدة
                            عملائنا.
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row gy-3 py-5">
            <div data-aos="fade-down-left" class="col-md-3 offset-md-2">
                <div class="item">
                    <h4>المسؤوليات</h4>
                </div>

            </div>
            <div data-aos="fade-down-right" class="col-md-7">
                <div class="item">
                    <ul class="mb-0 ">
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            جمع وتقييم متطلبات المستخدم بالتعاون مع مديري المنتج والمهندسين .
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            توضيح أفكار التصميم باستخدام القصص المصورة وتدفق العمليات وخرائط المواقع .
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            تصميم عناصر واجهة المستخدم الرسومية ، مثل القوائم وعلامات التبويب وعناصر واجهة المستخدم
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            إنشاء أزرار التنقل في الصفحة وحقول البحث .

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            قم بتطوير نماذج ونماذج أولية لواجهة المستخدم توضح بوضوح كيفية عمل المواقع وشكلها .

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            إنشاء تصميمات رسومية أصلية (مثل الصور والرسومات والجداول).

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            قم بإعداد وتقديم المسودات الأولية للفرق الداخلية وأصحاب المصلحة الرئيسيين .

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            تحديد واستكشاف مشكلات UX (مثل الاستجابة).

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            إجراء تعديلات التخطيط بناءً على ملاحظات المستخدم .

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            الالتزام بمعايير النمط على الخطوط والألوان والصور.

                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row gy-3 py-5">
            <div data-aos="fade-down-left" class="col-md-3 offset-md-2">
                <div class="item">
                    <h4>المتطلبات والمهارات</h4>
                </div>

            </div>
            <div data-aos="fade-down-right" class="col-md-7">
                <div class="item">
                    <ul class="mb-0 list-unstyled">
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            خبرة عمل مثبتة كمصمم UI / UX أو دور مماثل
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            حافظة مشاريع التصميم
                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            معرفة أدوات الهيكل الشبكي (مثل Wireframe.cc و InVision)

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            معرفة حديثة ببرامج التصميم مثل Adobe Illustrator و Photoshop

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            روح الفريق؛ مهارات اتصال قوية للتعاون مع مختلف أصحاب المصلحة

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            مهارات جيدة في إدارة الوقت

                        </li>
                        <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                            بكالوريوس في التصميم أو علوم الكمبيوتر أو مجال ذي صلة
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end second section  -->

<!-- start third section  -->
<section class="third py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center flex-wrap gap-4">
            <h2>المزيد من الوظائف المفتوحة</h2>
            <button class="btn">تصفح الوظائف المفتوحة</button>
        </div>

        <div class="row gy-3 mt-5 gy-4">
            <div data-aos="zoom-in-up" data-aos-duration="1500" class="col-md-6">
                <div class="item job-card">
                    <h6>دوام كامل</h6>
                    <h4>مطور تطبيقات الهاتف المحمول</h4>
                    <p class="mb-0">من ذوي الخبرة · 3-5 سنوات من الخبرة · تكنولوجيا المعلومات / تطوير البرمجيات ·
                        الهندسة - الاتصالات / التكنولوجيا · تطوير المحمول · أندرويد</p>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <span>27 أغسطس 2023</span>
                        <img src="../../../assets/images/arrow-right.svg" alt="arrow-right" loading="lazy">
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="1500" class="col-md-6">
                <div class="item job-card">
                    <h6>دوام كامل</h6>
                    <h4>Senior Backend Developer</h4>
                    <p class="mb-0">من ذوي الخبرة · 5-7 سنوات من الخبرة · تكنولوجيا المعلومات / تطوير البرمجيات ·
                        الهندسة - الاتصالات / التكنولوجيا · صافي · الإطار الصافي</p>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <span>27 أغسطس 2023</span>
                        <img src="../../../assets/images/arrow-right.svg" alt="arrow-right" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end third section  -->

<!-- start fourth section  -->
<section class="fourth">
    <div class="container-fluid p-0">
        <div  class="row gy-3 align-items-center">
            <div data-aos="fade-down-left" data-aos-duration="1500" class="col-md-6">
                <div class="item pe-5">
                    <h2 class="mb-4">اتصل بنا اليوم للحصول على استشارة مجانية</h2>
                    <div class="btns">
                        <button class="btn service-us">خدمتـــــــنا</button>
                        <button class="btn contact-us me-3">تواصل معنا</button>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up-right" data-aos-duration="1500" class="col-md-6 d-md-block d-none">
                <div class="item position-relative d-flex justify-content-end">

                    <svg width="615" height="501" viewBox="0 0 615 601" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M614.688 207.644C614.688 247.311 582.532 279.467 542.865 279.467V279.467C503.199 279.467 471.042 247.311 471.042 207.644L471.042 -197.05C471.042 -236.717 503.199 -268.873 542.865 -268.873V-268.873C582.532 -268.873 614.689 -236.717 614.689 -197.05L614.688 207.644Z"
                            fill="#4BB6AE" />
                        <circle cx="542.865" cy="382.349" r="71.8231" transform="rotate(-180 542.865 382.349)"
                            fill="#4BB6AE" />
                        <rect width="143.646" height="702.818" rx="71.8231"
                            transform="matrix(-1 5.16191e-08 -2.98023e-08 1 404.896 307.887)" fill="#4BB6AE" />
                        <ellipse cx="72.2294" cy="71.8231" rx="72.2294" ry="71.8231"
                            transform="matrix(1 0 0 -1 85.7607 453.181)" fill="#4BB6AE" />
                        <path
                            d="M331.626 98.6821C371.293 98.6821 403.449 130.838 403.449 170.505V170.505C403.449 210.172 371.293 242.328 331.626 242.328L-73.0683 242.328C-112.735 242.328 -144.891 210.172 -144.891 170.505V170.505C-144.891 130.838 -112.735 98.6821 -73.0683 98.6821L331.626 98.6821Z"
                            fill="#4BB6AE" />
                    </svg>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- end fourth section  -->


<!-- start footer  -->
<footer class="py-5">
    <div class="container">
        <div class="row gy-3 pt-5 ">
            <div class="col-md-8">
                <div class="item">
                    <h6>الصفحات</h6>
                    <div class="row gy-3">
                        <div class="col-5">
                            <ul class="mb-0 list-unstyled p-0">
                                <li>الصفحة الرئيسية</li>
                                <li>من نحن</li>
                                <li>مستثمر</li>
                                <li>طالب تمويل</li>
                                <li>تواصل معنا</li>
                                <li>الأسئلة الشائعة</li>
                                <li>التسجيل </li>
                            </ul>
                        </div>

                        <div class="col-5">
                            <ul class="mb-0 list-unstyled p-0">
                                <li>تسجيل الدخول</li>
                                <li>ابدأ الاستثمار</li>
                                <li>الوظائف</li>
                                <li>مهنة واحدة</li>
                                <li>مركز المساعدة</li>
                                <li>فريق العمل</li>
                                <li>الشروط والاحكام </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="item">
                    <h6>تابعنا</h6>
                    <ul class="mb-0 list-unstyled p-0">
                        <li>
                            <img src="../../../assets/images/Facebook.svg" class="ms-2" alt="Facebook" loading="lazy">
                            Facebook
                        </li>
                        <li>
                            <img src="../../../assets/images/Twitter.svg" class="ms-2" alt="Twitter" loading="lazy">
                            Twitter
                        </li>
                        <li>
                            <img src="../../../assets/images/Instagram.svg" class="ms-2" alt="Instagram" loading="lazy">
                            Instagram
                        </li>
                        <li>
                            <img src="../../../assets/images/LinkedIn.svg" class="ms-2" alt="LinkedIn" loading="lazy">
                            LinkedIn
                        </li>
                        <li>
                            <img src="../../../assets/images/YouTube.svg" class="ms-2" alt="YouTube" loading="lazy">
                            YouTube
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <p class="text mt-5 mb-3">
            الاستثمار أداء عالية المخاطر قد يتعرض لها المستثمرين تتعثر الجهة طالبة لتمويل عند سداد التزاماتها أو فقدان
            راس مال المستثمر، لذا تعمل سند المالية على الحد من هذه المخاطر عبر الدارسة المفصلة والدقيقة لمنشأت طالبة
            التمويل قبل طرحها للمستثمرين ، لا تتحمل شركة سند المالية أو شركائها أو موظفيها مسؤولية أي نوع من الخسائر
            المالية.
        </p>

        <div class="line"></div>

        <div class="d-flex justify-content-between flex-wrap align-items-center py-4 gap-4">
            <div class="logo">
                <img src="../../../assets/images/logo-1.png" alt="logo" loading="lazy">
            </div>
            <div class="copy-right">
                Copyright © Sanad Capital Company
            </div>
            <div class="company">
                <img src="../../../assets/images/company.svg" alt="company" loading="lazy">
            </div>

        </div>
    </div>
</footer>
<!-- end footer  -->